*{
 margin: auto;
padding: 0;
box-sizing: border-box;

}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
b{
color:#0000FF;
font-size: 5rem;
font-weight: 700;
letter-spacing: 8px;
margin-bottom: 2rem;
}
html{
font-size: 10px;
}
body{
background-image: url("1016960.jpg");
background-size: cover;
background-position: 0 1000px;
font-family: 'Roboto',sans-serif;
}
.container{
/*max-width: 110px;*/
margin: 0 auto;
padding: 0 3rem;
margin-top: 4rem;
text-align: center;
}
h1{
color:#8B008B;
font-size: 5rem;
font-weight: 700;
letter-spacing: 8px;
margin-bottom: 2rem;
}
h2{
color:#DC143C;
font-size: 4rem;
font-weight: 400;
}
.image{
margin-top: 10rem;
margin-bottom: 5rem;
}
p{
font-size: 2rem;
color: #FFFF00;
line-height: 5rem;
/*margin-bottom: 5rem;*/
}
.btn{
display: inline-block;
padding: 2.7rem 7.5rem;
background: #F6F6F6;
font-size: 2rem;
text-decoration: none;
color: #6495ED;
border-radius: 10px;
transition: background 0.5s;
}
.btn:hover{
background: #1E90FF;
}
