{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<h1 align="center">My HomePage</h1>
<p>
  <b>Education</b><br />
  Bachelor Of Computer Science and Engineering<br />
  * Velammal Institute Of Technology,Panchetti<br />
  06/2019 - Present, 9.21(till Sem6)<br />
  * Higher Secondary Certificate<br />
  Velammal Mat Hr Sec School,Chennai<br />
  06/2018 - 05/2019, 79.6%(Computer Science Group)<br />
  * Secondary School Leaving Certificate<br />
  Velammal Mat Hr Sec School,Chennai<br />
  07/2016 - 05/2017, 89.4%<br />
  <b>Personal Details</b><br />
  Date Of Birth: 26/03/2002<br />
  Gender: Male<br />
  Father Name : R Thinagaran <br />Mother Name : K Lakshmi Rajam <br />Address :
  11/366,Kannadasan street,Mogappair East,Chennai-37.<br />
  Language : TAMIL,ENGLISH<br />
  <b>Hard Skills</b><br />
  JAVA[OOPS CONCEPT]: Full Professional Proficiency<br />
  C : Professional Working Proficiency<br />
  HTML & CSS :Professional Working Proficiency<br /><br /><br />
</p>
<h1 align="center">Comments</h1>
<ul class="list-group list-group-flush" id="Description">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
</ul>
<form method="POST">
  <div align="center">
    <button type="submit" class="btn btn-primary">add notes</button>
  </div>
</form>
{% endblock %}